body{
    background:#fffaf5;
    font-family: Arial;
    text-align:center;
    color:#6b5b5b;
    margin:40px;
}

h1{
    color:#ff8fab;
}

img{
    width:500px;
    border-radius:20px;
    margin-top:20px;
}

p{
    font-size:22px;
    margin:30px;
}

a{
    display:block;
    margin:20px;
    font-size:24px;
    color:#ff5d8f;
    text-decoration:none;
}

a:hover{
    color:#ff2e63;
}